$text-color-white: #fff;
$margin-top: 20rpx;
$margin-bottom: 20rpx;
$padding-content: 18rpx;
$nav-bg-color: linear-gradient(90deg, rgba(228, 35, 50, 1), rgba(228, 0, 17, 1), rgba(177, 6, 19, 1));

//定义公共函数变量

//统计标题头部
@mixin statistics-header {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	&::after {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		content: '';
		height: 2px;
		background-color: #f7524b;
	}
	.title {
		@include statistics-title;
	}
	.opt {
		display: flex;
		align-items: center;
		justify-content: space-around;
		margin-right: 20rpx;
		width: 311rpx;
		height: 74rpx;
		background: rgba(255, 255, 255, 1);
		border: 1px solid rgba(191, 191, 191, 1);
		border-radius: 37px;
		color: #989898;
		font-size: 32rpx;
		.item {
			width: 148rpx;
			height: 64rpx;
			text-align: center;
			line-height: 64rpx;
		}
		.active-item {
			background: rgba(247, 82, 75, 1);
			border-radius: 32rpx;
			color: #fff;
		}
	}
}
/*统计标题样式*/
@mixin statistics-title {
	display: flex;
	align-items: center;
	position: relative;
	padding-left: 25rpx;
	font-size: 34rpx;
	font-weight: bold;
	color: #383838;
	&::before {
		position: absolute;
		left: 0;
		content: '';
		width: 14rpx;
		height: 36rpx;
		background-color: #f7524b;
	}
}

/*box*/
@mixin bht-box {
	background: rgba(255, 255, 255, 1);
	box-shadow: 0 0 16rpx 0 rgba(134, 134, 134, 0.4);
	border-radius: 10rpx;
}

/*统计页面头部 chart-header-bg*/
@mixin chart-header-box {
	position: relative;
	height: 208rpx;
	background: url('~@/static/icon/c-jcktj-bg.png');
	background-size: cover;
	background-repeat: no-repeat;
	.header-opt {
		position: absolute;
		display: flex;
		justify-content: center;
		width: 100%;
		.item {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 200rpx;
			height: 80rpx;
			font-size: 32rpx;
			color: rgba(255, 51, 51, 1);
			background: rgba(255, 255, 255, 1);
			border: 1px solid rgba(255, 51, 51, 1);
			box-shadow: 0 0 10rpx 0 rgba(247, 82, 75, 0.6);
		}
		.item-year {
			border-radius: 6rpx 0 0 6rpx;
		}
		.item-month {
			border-radius: 0 6rpx 6rpx 0;
		}
		.active {
			color: #fff;
			background: rgba(255, 51, 51, 1);
		}
	}
}
